.list-header {
  align-items: center;
  background-color: #fff !important;
  border-bottom: 2px solid var(--color-light-grey);
  color: var(--color-med-grey);
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  height: 56px;
  width: 100%;
  text-transform: uppercase;
}
.vehicle-info {
  padding-left: 15px;
  min-width: calc(25% + 5px);
  max-width: calc(25% + 5px);
}
.alerts-info {
  padding-left: 5px;
  width: 18%;
}
.status-info,
.hours-info,
.custom1-info,
.custom2-info {
  width: 13%;
}
.menu-col {
  width: 4%;
}
.vehicle-info span,
.vehicle-info img,
.status-info span,
.status-info img,
.custom1-info,
.custom2-info {
  cursor: pointer;
}
/* icons */
.settings-icon {
  margin-left: 10px;
  height: 18px;
  width: 18px;
}
.sort-icon {
  height: 16px;
  width: 16px;
  margin: 0px 5px;
  cursor: pointer;
}
/* sort */
.active {
  color: black;
}
.asc {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.desc {
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
