.dropdown-content {
  /* overflow: auto;
  position: absolute;
  min-width: 128px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  z-index: -1;
  max-height: 0;
  transition: all 0.3s ease-in; */
  display: flex;
  flex-direction: column;
}
.dropdown-content.display {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  z-index: 1;
}
.dropdown-item {
  display: flex;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  padding-left: 8px;
  cursor: pointer;
  user-select: none;
  padding-right: 24px;
}
.dropdown-item:hover,
.dropdown-item:hover .checkmark {
  background-blend-mode: multiply;
  background-image: linear-gradient(
    to bottom,
    rgba(187, 187, 187, 0.25),
    rgba(187, 187, 187, 0.25)
  );
}
.dropdown-item .checkmark {
  height: 12px;
  width: 12px;
  margin-right: 5px;
  background-color: #fff;
}
.dropdown-item .checkmark::after {
  content: "\2713";
  display: none;
  margin-top: -4px;
  font-size: 14px;
  font-weight: bold;
}
.dropdown-item .cih::after {
  color: var(--color-primary-caseih);
}
.dropdown-item .nh::after {
  color: var(--color-primary-nh);
}
.dropdown-item input[type="checkbox"] {
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}
.dropdown-item input[type="checkbox"]:checked ~ .checkmark::after {
  display: block;
}
.dropdown-item .item-name {
  font-family: Roboto;
  font-size: 14px;
  color: var(--color-main-grey);
}
.dropdown-item input[type="checkbox"]:checked ~ .checkmark ~ .cih {
  color: var(--color-primary-caseih);
}
.dropdown-item input[type="checkbox"]:checked ~ .checkmark ~ .nh {
  color: var(--color-primary-nh);
}
.disabled {
  opacity: 0.4;
}
