.can-rule {
  width: 100%;
  font-size: 12px;
  color: #707070;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notification-name {
  display: flex;
  font-weight: bold;
  padding-top: 3px;
  height: 35%;
}
.cnh-manage-data {
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
}
.cnh-collapsable {
  display: flex;
  width: 100%;
  height: 64px;
  color: #000;
  background-color: white;
}
.cnh-collapsable:not(:last-child) {
  border-bottom: 1px solid #4c4c51;
}
.cnh-border {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.cnh-itemType-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 47px;
}
.cnh-name-row {
  width: 30%;
  justify-content: space-around;
}
.cnh-count {
  justify-content: center;
  width: 20%;
}
.cnh-fileType {
  justify-content: center;
  width: 20%;
  font-size: medium;
}
.cnh-date {
  justify-content: center;
  width: 10%;
}
.cnh-button-header {
  width: 10%;
  position: relative;
  bottom: 20px;
  left: 2%;
}
.cnh-icon {
  width: 10%;
  justify-content: flex-end;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}
.manage-icon {
  display: flex;
  width: 23px;
  height: 23px;
}
.cnh-name {
  font-weight: bold;
}
.mat-icon {
  padding-right: 12px;
  cursor: pointer;
}
.circle-div {
  width: 2%;
}
.circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid gray;
  position: relative;
  cursor: pointer;
  display: flex;
}
.circle span {
  position: absolute;
  transition: 0.3s;
  background: black;
}
.circle span:first-of-type {
  top: 20%;
  bottom: 20%;
  width: 10%;
  left: 50%;
  background-color: #707070;
}
.circle span:last-of-type {
  left: 25%;
  right: 15%;
  height: 10%;
  top: 47%;
  background-color: #707070;
}
.circle.rotate span:first-of-type,
.circle.rotate span:last-of-type {
  transform: rotate(90deg);
}
.circle.rotate span:last-of-type {
  left: 50%;
  right: 50%;
}
.edit-action-menu {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.cnh-key {
  font-size: 12px;
  font-weight: bold;
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
}

.cnh-line {
  border-top: 1px solid grey;
  flex-grow: 1;
  margin: 0 10px;
}
