.fault-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.18em;
  border-bottom: 1px solid #e2e2e2;
  height: 60px;
}
.fault-info p {
  padding: 0 1em;
  display: flex;
  align-items: center;
}
.fault-info p img {
  width: 16px;
  object-fit: contain;
}
.fault-info p span {
  margin-left: 0.5em;
}
.fault-info .number {
  font-weight: bold;
  font-size: 1.25em;
}
.fault-info .number small {
  font-weight: 300;
  font-size: 0.7em;
  color: #7d7d7d;
}
.fault-data {
  flex: 1;
  overflow-y: auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 330px;
}
.no-faults-msg {
  height: 218px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #bbbbbb;
}
.view-more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.7em;
  padding: 10px;
  border-top: 1px solid #e2e2e2;
  height: 36px;
}
.view-more span {
  cursor: pointer;
}
.view-more span.cih {
  color: var(--color-primary-caseih);
}
.view-more span.nh {
  color: var(--color-primary-nh);
}
@media only screen and (min-width: 1112px) {
  .fault-info p img {
    width: 18px;
  }
}
@media only screen and (min-width: 1440px) {
}
