<div class="cnh-main-modal">
  <mat-dialog-content>
    <div class="cnh-modal">
      <div class="cnh-header">
        <span class="cnh-img"><img src="assets/warning.PNG"/></span>
        <span class="cnh-text">{{
          'MODAL.NOTIFICATION.EXIT_TITLE' | translate
        }}</span>
      </div>
      <div class="cnh-content">
        {{ 'MODAL.NOTIFICATION.EXIT_TEXT' | translate }}
      </div>
      <div class="sub-content"></div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="mat-dialog-actions">
    <button mat-button (click)="onNoClick()">
      <span class="cnh-button-wrapper">{{
        'MODAL.NOTIFICATION.GO_BACK' | translate
      }}</span>
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="exitButton()"
      [style.background-color]="buttonBGColor"
    >
      <span class="cnh-button-delete">{{ 'GLOBAL.CTA.EXIT' | translate }}</span>
    </button>
  </mat-dialog-actions>
</div>
