.dropdown-label {
  height: 45px;
  padding: 0 10px;
  font-size: 14px;
  color: #707070;
  cursor: pointer;
  min-width: 128px;
}
.arrow {
  width: 0;
  height: 0;
  margin-left: 10px;
  border-style: solid;
  border-color: #707070 transparent;
  transition: border-width 0.2s linear;
}
.down {
  border-width: 7px 5px 0;
}
.up {
  border-width: 0 5px 7px;
}
