<div class="item-content">
  <div class="card">
    <div class="card-item">
      <db-widget-header>
        <span class="card-title"
          >FUEL CONSUMPTION: {{ totalFuel }} <small>{{ measurementUnit }}</small>
        </span>
        <span class="card-date">Today</span>
        <db-widget-menu (click)="removeWidget()"></db-widget-menu>
      </db-widget-header>

      <ng-template #loading> <app-loader></app-loader> </ng-template>

      <div
        style="display:flex;flex-direction:column;flex:1;min-height:0"
        *ngIf="dataLoaded; else: loading"
        [ngClass]="{ 'vehicle-data': noData }"
      >
        <div class="no-data" *ngIf="noData">
          <div class="no-data-text">No daily fuel consumption data to display</div>
        </div>
        <div class="card-data fuel-card-data" *ngIf="!noData">
          <div *ngFor="let vehicle of vehicleList">
            <db-vehicle-item>
              <span class="vehicle-name">{{ vehicle.name }}</span>
              <span class="vehicle-model">{{ vehicle.model }}</span>
              <div class="fuel-display">
                <img alt="Fuel" src=".\assets\icon-fuel.svg" />
                <span class="value">{{ vehicle.fuel }}</span>
                <span class="unit">{{ measurementUnit | lowercase }}</span>
              </div>
              <div class="right-display">{{ vehicle.lastUpdated | date: 'shortTime' }}</div>
            </db-vehicle-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
